<div class="auth-container">
  <div class="auth-card verify-card">
    <div class="verify-icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" fill="var(--color-primary)">
        <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/>
      </svg>
    </div>
    
    <div class="alert alert-success mt-2">
      {{ 'VERIFY_EMAIL.SUCCESS_ALERT' | translate }}
    </div>

    <div class="auth-header">
      <h2>{{ 'VERIFY_EMAIL.TITLE' | translate }}</h2>
      <p>{{ 'VERIFY_EMAIL.SUBTITLE' | translate }}</p>
    </div>

    <div class="form-actions text-center">
      <a class="btn btn-primary" routerLink="/login">{{ 'VERIFY_EMAIL.GO_TO_LOGIN' | translate }}</a>
      <div class="resend-action">
        <p class="mt-3">{{ 'VERIFY_EMAIL.NO_MAIL' | translate }} <a href="#" (click)="resendEmail($event)">{{ 'VERIFY_EMAIL.RESEND' | translate }}</a></p>
      </div>
    </div>
  </div>
</div>
